/* 
.app-background {
  background-image: url('./assets/backgroundimage.jpg');  If in src
   background-image: url('/background.jpg'); 
  height: 100%;
  background-size: cover;
  background-position: center;
}
 */